body {
    font: 12px sans-serif;
    background: dimgray;
}

.tool-arc {
    stroke: black;
    stroke-width: 0.5px;
    opacity: 1;
}

.tool-chart {
}

.tool-charts {
    margin: 5px;
    padding: 5px;
}

.team-cell {
    background: beige;
    text-align: center;
    font: 14px sans-serif;
    font-weight: bold;
}

div {
    flot: left;
    clear: left right;
}

.descriptive-text {
    background: beige;
    border: 1px solid black;
    float: left;
    clear: left right;
    width: 400px;
    height: 700px;
    font: 14px sans-serif;
    text-align: left;
    margin: 5px;
    padding: 5px;
}

#description {
}
